.tag {
  display: inline-flex;
  gap: 1px;
  border-radius: 1rem;
  overflow: hidden;

  & > * {
    background: var(--tag-bg-color);
    color: var(--tag-text-color);
    padding: .2rem 1rem;
  }

  &.-success > * {
    background: var(--tag-bg-color--success);
    color: var(--tag-text-color--success);
  }
}
