@keyframes app-auto-hide--fade-in {
  from { opacity: 0.1; transform: translateX(-5vw); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes app-auto-hide--fade-out {
  from { opacity: 1; transform: translateX(0); }
  to   { opacity: 0; transform: translateX(-5vw); }
}

app-auto-hide:not([data-hidden]) {
  animation: app-auto-hide--fade-in 120ms forwards cubic-bezier(0, 0, 0.2, 1);
}

app-auto-hide[data-hidden] {
  animation: app-auto-hide--fade-out 300ms forwards cubic-bezier(0.4, 0, 1, 1);
}
