.pianoKeyboard {
  --pianoKeyboard_stripColor: #9f3f55;

  --pianoKeyboard_whiteKeyColor: #fff;
  --pianoKeyboard_whiteKeyColor--on: rgb(164, 211, 238);
  --pianoKeyboard_whiteKeyColor--pedal: rgb(231 185 102);

  --pianoKeyboard_blackKeyColor: #2b2b2b;
  --pianoKeyboard_blackKeyColor--on: rgb(62, 137, 187);
  --pianoKeyboard_blackKeyColor--pedal: rgb(187 137 62);

  position:    relative;
  display:     flex;
  border-top:  .3vw solid var(--pianoKeyboard_stripColor);
  user-select: none;
  transition:  filter 1s;

  &.-no-strip {
    border: none;
  }

  &.-disabled {
    filter: brightness(0.5);
  }

  &_blackKeys {
    position:       absolute;
    inset:          0;
    bottom:         33%;
    display:        flex;
    pointer-events: none;

    > * {
      flex-grow: 1;
    }
  }

  &_key {
    flex-grow:      1;
    cursor:         pointer;
    pointer-events: auto;
    transition:     background-color 150ms;

    &.-white {
      aspect-ratio: 1/6;
      background:   var(--pianoKeyboard_whiteKeyColor);
      &.-pedal { background: var(--pianoKeyboard_whiteKeyColor--on); }
      &.-on    { background: var(--pianoKeyboard_whiteKeyColor--pedal); }
    }

    &.-black {
      border-radius: 0 0 .3vw .3vw;
      background:    var(--pianoKeyboard_blackKeyColor);
      &.-pedal { background: var(--pianoKeyboard_blackKeyColor--on); }
      &.-on    { background: var(--pianoKeyboard_blackKeyColor--pedal); }
    }
  }
}
