app-piano-keyboard {
  --default-pianoKeyboard_stripColor: #9f3f55;

  --default-pianoKeyboard_whiteKeyColor: #fff;
  --default-pianoKeyboard_whiteKeyColor--pressed: rgb(164, 211, 238);
  --default-pianoKeyboard_whiteKeyColor--sustained: rgb(231 185 102);

  --default-pianoKeyboard_blackKeyColor: #2b2b2b;
  --default-pianoKeyboard_blackKeyColor--pressed: rgb(62, 137, 187);
  --default-pianoKeyboard_blackKeyColor--sustained: rgb(187 137 62);

  position:    relative;
  display:     flex;
  border-top:  .3vw solid var(--pianoKeyboard_stripColor, var(--default-pianoKeyboard_stripColor));
  user-select: none;
  transition:  filter 1s;

  &.-no-strip {
    border: none;
  }

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    background: linear-gradient(180deg, #0006, transparent);
  }

  &[data-disabled] {
    filter: brightness(0.5);
  }

  .pianoKeyboard {
    &_blackKeys {
      position:       absolute;
      inset:          0;
      bottom:         33%;
      display:        flex;
      pointer-events: none;

      > * {
        flex-grow: 1;
      }
    }

    &_key {
      flex-grow:      1;
      border:         none;
      padding:        0;
      cursor:         pointer;
      pointer-events: auto;
      transition:     background-color 150ms;

      &:focus-within {
        outline-offset: -2px;
        outline-width: -4px;
      }

      &.-white {
        aspect-ratio: 1/6;
        background:   var(--pianoKeyboard_whiteKeyColor, var(--default-pianoKeyboard_whiteKeyColor));
        &.-sustained { background: var(--pianoKeyboard_whiteKeyColor--pressed, var(--default-pianoKeyboard_whiteKeyColor--pressed)); }
        &.-pressed    { background: var(--pianoKeyboard_whiteKeyColor--sustained, var(--default-pianoKeyboard_whiteKeyColor--sustained)); }
      }

      &.-black {
        border-radius: 0 0 .3vw .3vw;
        background:    var(--pianoKeyboard_blackKeyColor, var(--default-pianoKeyboard_blackKeyColor));
        &.-sustained { background: var(--pianoKeyboard_blackKeyColor--pressed, var(--default-pianoKeyboard_blackKeyColor--pressed)); }
        &.-pressed    { background: var(--pianoKeyboard_blackKeyColor--sustained, var(--default-pianoKeyboard_blackKeyColor--sustained)); }
      }
    }
  }
}
