:root {
  --primary-color: #4f46cc;
  --primary-color--lighter: #685fe3;
  --primary-color--darker: #3c3699;

  --link-color: #948cff;

  --tag-text-color: hsl(244deg 100% 91%);
  --tag-bg-color: hsl(244deg 100% 78% / 23.14%);
  --tag-text-color--success: hsl(136 100% 91% / 1);
  --tag-bg-color--success: hsl(136deg 100% 78% / 23%);

}
