.pianoKeyboard {
  position:   relative;
  display:    flex;
  transition: filter 1s;
}

.pianoKeyboard.-disabled {
  filter: brightness(0.5);
}

.pianoKeyboard_blackKeys {
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  height:   66%;
  display:  flex;
}

.pianoKeyboard_blackKeys > * {
  flex-grow:  1;
}

.pianoKeyboard_key {
  flex-grow:  1;
  transition: background-color 150ms;
}

/* White keys */
.pianoKeyboard_key.-white {
  background: #fff;
  aspect-ratio: 1/6;
}

.pianoKeyboard_key.-white.-pedal { background: rgb(164, 211, 238); }
.pianoKeyboard_key.-white.-on    { background: rgb(231 185 102); }


/* Black keys */
.pianoKeyboard_key.-black {
  /*position:      absolute;*/
  /*width:         calc((100% / var(--white-key-count)) * 7 / 12);*/
  background:    #2b2b2b;
  border-radius: 0 0 .3vw .3vw;
}

.pianoKeyboard_key.-black.-pedal { background: rgb(62, 137, 187); }
.pianoKeyboard_key.-black.-on    { background: rgb(187 137 62); }