@keyframes auto-hidden-layer--fade-in {
    from { opacity: 0.1; transform: translateY(-5vw); }
    to   { opacity: 1; transform: translateY(0); }
}

@keyframes auto-hidden-layer--fade-out {
    from { opacity: 1; transform: translateY(0); }
    to   { opacity: 0; transform: translateY(-5vw); }
}

.auto-hidden-layer:not(.auto-hidden-layer--hidden) {
    animation: auto-hidden-layer--fade-in 120ms forwards cubic-bezier(0, 0, 0.2, 1);
}

.auto-hidden-layer--hidden {
    animation: auto-hidden-layer--fade-out 300ms forwards cubic-bezier(0.4, 0, 1, 1);
}