*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size:   1vw;
  background:  #000;
  color:       #fff;
}


/*
 * LAYOUT
 */
body {
  position:       relative;
  margin:         0;
  height:         100vh;
  overflow:       hidden;
  display:        flex;
  flex-direction: column;
}


#viewport {
  flex-grow: 1;
}

#strip {
  height: 2vh;
  position: relative;
}

#pianoKeyboard {
  flex-shrink: 0;
}
