@use "styles";

app-root {
  height:         100%;
  display:        flex;
  flex-direction: column;
}

.app {
  &_strip         { height: 2vh }

  &_overlay {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: min(calc(100% - 2rem), 45rem);
    max-height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    gap: .2rem;
    border-radius: 1rem;
    backdrop-filter: blur(2rem);
    overflow: auto;
    z-index: 1;
  }

  &_section {
    padding: 2rem;
    background-color: #2f323db3;

    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }


  /*
   * REMOTE STRIP FORM
   */
  &_remoteStripForm {
    position: relative;

    .input[type="text"] {
      flex-grow: 1;
    }

    &_connexionIndicator {
      flex-shrink: 0;
      width: 3rem;
      justify-content: flex-end;
      padding: 0;

      &::before {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: #aaa;
        border-radius: 1rem;
      }

      &.-online::before {
        background-color: #be0d3a;
      }
    }
  }
}
